*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    width: auto;
}

/* componentes */

$padding-principal: 10px;
$padding-secundario: 20px;


/* variables color */

$color-fondo: #FFFFFF;
$color-fondo-secundario: #E5E5E5;
$color-tipografia: #000000;
$color-tipografia-secundario: #757575;

/* variables tipografia */
$tipografia-principal: "Cormorant Garamond", serif;
$tipografia-secundaria: Verdana, Geneva, Tahoma, sans-serif;
$tipografia-terciaria: 'Work Sans', sans-serif;;
$tipografia-tarjetas: 'Exo', sans-serif;

@mixin categoria() {
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: $padding-secundario;
    border: 0.5px solid $color-fondo-secundario;
    font-family: $tipografia-terciaria;
}
@mixin imagen{ 
    height: 60%;
    display: flex;
    justify-content: center;
}

@mixin informacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 40%;
}

/* ---------- HEADER ---------- */

header {
    padding: $padding-principal;
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: $color-fondo;
    box-shadow: 10px 12px 23px -19px rgba(0,0,0,0.96);
}

.encabezado {
    display: flex;
    margin-bottom: 20px;
}
  
h1 {
    font-size: 80px;
    margin: 0px;
    flex-grow: 2;
    text-align: center;
    font-family: $tipografia-principal;
}

form {
    margin-top: 20px;
    position: absolute;
}

#buscador {
    border: none;
    border-bottom: $color-tipografia-secundario 1px solid;
    font-family: $tipografia-principal;
    color: $tipografia-secundaria;
    font-size: 30px;
    padding: $padding-principal;
}

.fa-search {
    color: #a09e9e;
    font-size: 25px;
    position: absolute;
    right: 5%;
    top: 30%;
}
  
/* --NAV-- */

nav {
    background-color: $color-fondo-secundario;
    height: 5vh;
    margin-left: 5%;
    margin-right: 5%;
    font-family: $tipografia-secundaria;
    font-weight: 200;
    font-size: 12px;
}

ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;  
}

  /* -----------MAIN----------- */

main {
    padding: $padding-principal;
}

.tarjetas-por-categoria{
    padding-top: 15%;
}

.tarjetas-categoria {
    @include categoria()
}
.tarjetas-celulares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
h2 {
    font-family: $tipografia-terciaria;
    text-align: center;
    font-size: 36px;
    margin:5%;
    display: none;
}

.img-tarjetas{
    @include imagen()
}
.info-tarjetas{
    @include informacion()
}