*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    width: auto;
}

/* componentes */

$padding-principal: 10px;
$padding-secundario: 20px;


/* variables color */

$color-fondo: #FFFFFF;
$color-fondo-secundario: #E5E5E5; 
$color-tipografia: #000000;
$color-tipografia-secundario: #757575;

/* variables tipografia */
$tipografia-principal: "Cormorant Garamond", serif;
$tipografia-secundaria: Verdana, Geneva, Tahoma, sans-serif;
$tipografia-terciaria: 'Work Sans', sans-serif;;
$tipografia-tarjetas: 'Exo', sans-serif;

$borde-tarjetas:  0.5px solid $color-fondo-secundario;
$borde-boton: $color-tipografia-secundario 1px solid;


@mixin categoria() {
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: $padding-secundario;
    border-radius: 10px;
    box-shadow: 10px 12px 23px -19px $color-tipografia;
    border: $borde-tarjetas;
    font-family: $tipografia-terciaria;
}
@mixin imagen{ 
    height: 60%;
    display: flex;
    justify-content: center;
}

@mixin informacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 40%;
}

@mixin botonDeBusqueda ($font-size: 30px, $font-family: $tipografia-principal) {
    border: none;
    border-bottom: $borde-boton;
    font-family: $font-family;
    color: $tipografia-secundaria;
    font-size: $font-size;
    padding: $padding-principal;
}

/* ---------- HEADER ---------- */

header {
    padding: $padding-principal;
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: $color-fondo;
    box-shadow: 10px 12px 23px -19px rgba(0,0,0,0.96);
    z-index: 1;
}

.encabezado {
    margin-bottom: 20px;
}
  
h1 {
    font-size: 80px;
    margin: 0px;
    text-align: center;
    font-family: $tipografia-principal;
}

.form-encabezado {
    margin-top: 20px;
    position: absolute;
    label {
        @include botonDeBusqueda($font-size: 16px);
        border: none;
        position: relative;
        top: 10px
    }
}

#buscador {
    @include botonDeBusqueda();
}


.fa-search {
    color: #a09e9e;
    font-size: 25px;
    position: relative;
    right: 5%;
    top: 30%;
}
  
/* --NAV-- */

nav {
    background-color: $color-fondo-secundario;
    height: 5vh;
    margin-left: 5%;
    margin-right: 5%;
    font-family: $tipografia-secundaria;
    font-weight: 200;
    font-size: 12px;
}

ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;  
}

.titulo-seccion-categoria {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



  /* -----------MAIN----------- */

main {
    padding: $padding-principal;
    height: 100vh;
}

.img-principal {
    width: 60%;
    height: 80vh;
    margin: 8% 20%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .imagen{
    width: 100%;
    height: 100%;
  }

.tarjetas-por-categoria{
    padding-top: 10%;
    height: 100vh;
    display: none;
}

.tarjetas-categoria {
    @include categoria()
}

.tarjetas-categoria:hover {
    transform: translateY(-5px)
}

/* seccion tarjeta */
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}




h2 {
    
    @include botonDeBusqueda($font-size: 40px, $font-family: $tipografia-terciaria);
    border: none;
    letter-spacing: 5px;
}

.form-titulo {
    
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: $borde-tarjetas;
    border-bottom: $borde-tarjetas;
    label {
        padding: $padding-secundario;
        font-family: $tipografia-tarjetas;
        font-size: 20px;
        select {
            border: none;
            font-family: $tipografia-tarjetas;  
            font-size: 20px; 
            outline: none; 
        }
    }
    i{
        padding: $padding-secundario;
        color: $color-tipografia;
        font-size: 26px;
    }

}

.img-tarjetas{
    @include imagen()
}
.info-tarjetas{
    @include informacion()
}


/* ----------DETALLE PRODUCTO----------- */
.detalle-producto {
    padding-top: 15%;
    height: 90vh;
    
}

.seccion-detalle-producto {
    display: flex;
    overflow: hidden;
}

  
.galeria-fotos {
    max-width: 15%;
    margin: 10px;
    height: 65vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    justify-content: center;
    
  }
  
  .galeria {
    border: $borde-tarjetas; 
    margin: 10%;
    padding: $padding-principal;
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
    overflow: hidden;
  }

  .img {
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .foto {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px;
    height: 65vh;
    display: flex;
  }
  
  .seccion-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 35%;
    margin: 10px;
    height: 65vh;
        h3 {
            text-align: center;
            margin: 5%;
            font-family: $tipografia-terciaria;
            font-size: 20px;
            
        }
        h4 {
            
            margin: 5%;
            font-size: 50px;
            text-align: center;
            font-size: 40px;
            font-weight: 100;
            
        }
        p {
            
            font-family: $tipografia-tarjetas;
            font-size: 16px;
            margin: 3%;
        }
        
  }

 